* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #fffffff5;
  text-decoration: inherit;
}

input[type="text"] {
  display: contents;
  border-radius: 20px;
  border: 1px solid #00925d;
  background-color: white;
  padding: 0.4rem;
  margin-left: 1rem;
}

a:hover {
  color: #00925d;
}

a[type="active"] {
  font-weight: bolder;
  font-size: 1.1rem;
}

#navabar {
  background-color: #1a1a1a;
  padding: 39px 75px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

#menu {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

#buttons {
  display: flex;
  gap: 0;
  cursor: pointer;
}

#buttons :hover {
  color: #00925d;
}

#logo {
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
}

.hero-banner {
  display: grid;
  width: 100%;
  height: 90vh;
  position: relative;
  color: #ebe9e9;
  align-items: center;
  font-weight: 900;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 1.3rem;
  }
}

#playOne {
  background-color: #00925d;
  margin-right: 1rem;
  padding: 1rem;
}

#playTwo {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 1rem;
}

#playThree {
  background-color: #1a1a1a3f;
  border: none;
  backdrop-filter: blur(100px);
  padding: 1rem;
  margin-right: 1rem;
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
}

.movie-content {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0 2rem 3rem;
  position: absolute;
  z-index: 5;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 1rem;
  gap: 1rem;
}

.bars {
  display: none;
}

.description {
  margin: 3rem;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: bolder;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.hero-banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(
    to top,
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 0)
  ); /* Dark at bottom, fading to transparent */
  pointer-events: none;
}

#greyText {
  font-style: italic;
  color: grey;
}

#watchlist-carousel {
  display: flex;
}

#similarMovies {
  position: relative;
  margin-left: 3rem;
  box-shadow: none;

  h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}

.movie-img {
  width: 500px;
  border-radius: 20px;
  padding: 5px;

  img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
  }
}

.movie-similar {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 1px solid #f5efefd5;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 2rem;
}

.footerOne {
  align-items: center;
  color: #ffffff;
}

.contact {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  font-weight: bolder;
  width: 70%;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.terms {
  margin: 1rem;
  font-size: 0.7rem;

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }
}

.newsletter {
  font-size: 1.5rem;
}

.footerTwo {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.social-media {
  font-size: 2.2rem;
  justify-content: space-around;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  #header {
    padding: 5px;
    font-size: 1rem;
  }

  #symbol {
    display: block;
  }

  #search-bar.active {
    display: inline-block;
    opacity: 1;
    width: 120px;
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
  }

  #menu {
    display: none;
  }

  #logo {
    display: none;
    gap: 0.4rem;
  }

  .bars {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  #hero-banner {
    align-items: normal;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 12px;
    }
  }

  #playOne,
  #playTwo,
  #playThree {
    padding: 0.5rem;
    margin-bottom: 10px;
  }

  .description {
    font-weight: 300;
    justify-content: center;
  }
}
